# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\vince\OneDrive - Heinrich-Heine-Universitat Dusseldorf\HHU\2018SS\Professionelle Softwareentwicklung\Aufgaben\Wochen\woche6\woche6\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
